
<!DOCTYPE html>
<html id='app' ng-app="app1">
<head>
  <title>project</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>


</head>
<body ng-controller="myapp"  >
  <h1>Flights Schedule</h1>
  <!-- <button ng-chan="ok()"> ok </button>
  -->
   <select id="val" type="text" ng-change="ok()" ng-model="option"> 
    <option >date</option>
    <option >takeoffs</option>
    <option >landing</option>
    <option >pilotsName</option>
    <option >to</option>
    <option >from</option>
    <option >emptyseats</option>
    <option >flightcompany</option>
   </select>

search <input type="text" ng-model="searching">
  <table style="width:75%">
    <tr>
      <th><h1>flightNumber</h1></th>
      <th><h1>{{val}}</h1></th>   
    </tr>
    <tr ng-repeat="nam in data1 | filter : searching ">
       <th><h1>{{nam["flightNumber"]}}</h1></th>
       <th><h1>{{nam[val]}}</h1></th>
       <th> <img src="{{nam.image}}" width="345px"
    height="201px"></th> 
    <tr>
  </table>  
</body>
</html>
